.buttons_bar {
  background-color: #EBF3FA;
  padding-top: 100px;
  padding-bottom: 100px;
}
.buttons_bar .wrapper {
  max-width: 260px;
  margin: auto;
  padding: 20px 26px 20px 29px;
  background: linear-gradient(312.9deg, rgba(255, 255, 255, 0.3) 4.49%, rgba(233, 240, 247, 0.3) 95.45%), #E9F0F7;
  box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), -5px -5px 18px #FFFFFF;
  border-radius: 10px;
  text-align: center;
}
.buttons_bar .wrapper button {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  border: none;
  margin-right: 15px;
  background: linear-gradient(312.9deg, rgba(255, 255, 255, 0.3) 4.49%, rgba(233, 240, 247, 0.3) 95.45%), #E9F0F7;
  box-shadow: 2px 2px 6px rgba(138, 155, 189, 0.3), -2px -2px 12px rgba(255, 255, 255, 0.9);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.buttons_bar .wrapper button:last-of-type {
  margin-right: 0;
}
.buttons_bar .wrapper .home {
  background: linear-gradient(312.9deg, rgba(255, 255, 255, 0.3) 4.49%, rgba(233, 240, 247, 0.3) 95.45%), #E9F0F7;
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.9), inset 2px 2px 10px rgba(138, 155, 189, 0.3);
  background-image: url("../images/home.svg");
  background-size: 15px 15px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.buttons_bar .wrapper .add {
  background-image: url("../images/plus.svg");
  background-size: 13px 14px;
}
.buttons_bar .wrapper .favorites {
  background-image: url("../images/star.svg");
  background-size: 15px 15px;
}
.buttons_bar .wrapper .settings {
  background-image: url("../images/settings.svg");
  background-size: 15px 15px;
}

.log_in {
  background-color: #EBF3FA;
  padding-top: 100px;
  padding-bottom: 100px;
}
.log_in form {
  max-width: 200px;
  margin: auto;
}
.log_in form label {
  display: none;
}
.log_in form input {
  box-sizing: border-box;
  width: 100%;
  background: linear-gradient(312.9deg, rgba(255, 255, 255, 0.3) 4.49%, rgba(233, 240, 247, 0.3) 95.45%), #E9F0F7;
  box-shadow: inset -3px -3px 10px rgba(255, 255, 255, 0.7), inset 3px 3px 10px rgba(138, 155, 189, 0.4);
  border-radius: 60px;
  outline: none;
  border: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #8F9BB2;
  padding: 8px 10px;
  margin-bottom: 16px;
}
.log_in form .field {
  background: linear-gradient(180deg, #EB0DFE 0%, #11CADE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}
.log_in form .field::placeholder {
  background-image: url("../images/icon.svg");
  background-size: 16px 16px;
  background-position: right center;
  background-repeat: no-repeat;
}
.log_in form .social {
  display: flex;
  justify-content: space-between;
}
.log_in form .social input.social {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  max-width: 95px;
}
.log_in form .social .facebook::placeholder {
  background-image: url("../images/facebook.svg");
  background-size: 10px 10px;
  background-position: right center;
  background-repeat: no-repeat;
}
.log_in form .social .linkedin::placeholder {
  background-image: url("../images/Linkedin.svg");
  background-size: 10px 10px;
  background-position: right center;
  background-repeat: no-repeat;
}
.log_in form .login {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  background: linear-gradient(312.9deg, rgba(255, 255, 255, 0.3) 4.49%, rgba(233, 240, 247, 0.3) 95.45%), #E9F0F7;
  box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.7), 3px 3px 10px rgba(138, 155, 189, 0.48);
  border-radius: 60px;
  text-align: center;
}
.log_in form .login::placeholder {
  background-image: url("../images/lock.svg");
  background-size: 10px 10px;
  background-position: 35% center;
  background-repeat: no-repeat;
}

/*# sourceMappingURL=styles.css.map */
