section {
  background-color: #EBF3FA;
  padding-top: 300px;
  padding-bottom: 300px;

  .wrapper {
    max-width: 260px;
    margin: auto;
    padding: 20px 26px 20px 29px;
    background: linear-gradient(312.9deg, rgba(255, 255, 255, 0.3) 4.49%, rgba(233, 240, 247, 0.3) 95.45%), #E9F0F7;
    box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), -5px -5px 18px #FFFFFF;
    border-radius: 10px;
    text-align: center;

    button {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 6px;
      border: none;
      margin-right: 15px;
      background: linear-gradient(312.9deg, rgba(255, 255, 255, 0.3) 4.49%, rgba(233, 240, 247, 0.3) 95.45%), #E9F0F7;
      box-shadow: 2px 2px 6px rgba(138, 155, 189, 0.3), -2px -2px 12px rgba(255, 255, 255, 0.9);
      background-position: 50% 50%;
      background-repeat: no-repeat;

      &:last-of-type {
        margin-right: 0;
      }
    }

    .home {
      background: linear-gradient(312.9deg, rgba(255, 255, 255, 0.3) 4.49%, rgba(233, 240, 247, 0.3) 95.45%), #E9F0F7;
      box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.9), inset 2px 2px 10px rgba(138, 155, 189, 0.3);

      background-image: url("../images/home.svg");
      background-size: 15px 15px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }

    .add {
      background-image: url("../images/plus.svg");
      background-size: 13px 14px;

    }

    .favorites {
      background-image: url("../images/star.svg");
      background-size: 15px 15px;
    }

    .settings {
      background-image: url("../images/settings.svg");
      background-size: 15px 15px;
    }
  }
}